.crypto-rates {
    border-radius: .2rem;
    box-shadow: 0 8px 6px -6px black;
    background-color: #1E88E5;
    max-width: 30rem;
}


.crypto-rates_header {
    background-color: #0277BD;

}

.crypto-rates_list-item {
    list-style-type: none;
}